/node_modules
/public/hot
/public/storage
/storage/*.key
/resources/css
/resources/js
/resources/lang
/vendor
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
